:root {
    color-scheme: dark;
    --cavyn-bg: #161328;
    --cavyn-main: #000;
    --cavyn_bg2_sub: #191919;
    --cavyn-solid-text: #efebc7;
    --cavyn_text_color: #efebc7;
    --cavyn_link_color: #f4c754;
    --cavyn_border_color: #262626;
    --cavyn_button_color: #f4c754;
    --cavyn_button_fg_color: #302710;
}

br {
    user-select: none;
}

body {
    background-color: var(--cavyn-bg);
    font-family: 'Advent Pro', Lato, LatoExtended, sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

::selection {
    color: #302710;
    background: var(--cavyn_link_color);
}

* {
    margin: 0;
    padding: 0;
}

.drop-left {
    text-align: right;
}

/* Main Start */
main {
    border-right: 1px solid var(--cavyn_border_color);
    background-color: var(--cavyn-main);
    margin: auto 13em;
    padding: 20px;
    border-left: 1px solid var(--cavyn_border_color);
}

main>h1 {
    font-size: 40px;
    font-weight: 600;
}

main>p {
    line-height: 3em;
    font-size: 20px;
    font-weight: 100;
}

.images-right {
    display: grid;
}

.images {
    display: flex;
    gap: 1em;
    user-select: none;
}

.images-right img {
    width: 100%;
}

.image-left img {
    margin: 5em auto;
    width: 100%;
}

.download {
    margin-top: 1em;
    text-decoration: none;
    padding: 0 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    background-color: var(--cavyn_link_color);
    color: #302710;
    text-shadow: 0 1px 0px transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.21);
    text-align: center;
    line-height: 33px;
    font-weight: bold;
    height: 35px;
    min-width: 75px;
}

.bold {
    font-weight: 600;
    margin-top: -1em;
}

.muted {
    font-weight: 300;
    opacity: 0.7;
}

/* Main End */

/* Dropdown Start */
.dropbtn {
    color: var(--cavyn_button_color);
    background: transparent;
    text-decoration: underline;
    padding: 1em 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    user-select: none;
    display: none;
    position: relative;
    background-color: var(--cavyn_bg2_sub);
    min-width: 224px;
    padding: 20px 2em;
    width: 110%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: var(--cavyn_link_color);
    line-height: 1.5em;
}

.dropdown-content a {
    text-decoration: underline;
}

.show {
    display: flex;
    gap: 5px;
}

b {
    color: var(--cavyn_text_color);
    text-decoration: none;
    font-weight: 600;
    opacity: 0.9;
    letter-spacing: 0.5px;
}

/* Dropdown End */

/* Downloads Start */
table {
    border-collapse: collapse;
    width: 100%;
    user-select: none;
}

td,
th {
    border: 1px solid var(--cavyn_button_fg_color);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--cavyn_button_fg_color);
}

th.download-link a {
    font-weight: 100;
    color: var(--cavyn_link_color);
    text-decoration: underline;
}

/* Downloads End */

/* Footer Start */
.footer {
    bottom: 0;
    position: relative;
    padding: 20px;
}

.footer ul {
    display: flex;
    gap: 2em;
}

.footer ul li a {
    color: var(--cavyn_link_color);
    text-decoration: none;
}

/* Footer End */

/* Commits Start */
.commit {
    padding: 1em 10px;
}

.com-title {
    display: flex;
    gap: 10px;
    position: relative;
}

.com-title h4 a {
    color: var(--cavyn_link_color);
    text-decoration: underline;
    position: relative;
    display: inline;
}

.com-title p {
    font-size: 13px;
    position: relative;
    padding: 3px 0px;
    color: #efebc780;
}

.sum-commit {
    display: flex;
}

.com-message {
    color: var(--cavyn-solid-text);
    font-size: 19px;
    line-height: 1.9rem;
}

svg.svgicon {
    color: var(--cavyn-solid-text);
    fill: var(--cavyn-solid-text);
    display: grid;
    position: relative;
    cursor: pointer;
    padding: 2px;
}

svg.svgicon:hover {
    background: #dddddd24;
}

.svgs {
    position: relative;
    border: 1px solid #efebc733;
    border-radius: 2px;
}

.post-grid {
    position: relative;
    margin-top: 1em;
}

#commits {
    padding: 0 10px;
}

/* Commits End */

/* Released Start */
.released {
    border: 1px solid var(--cavyn_button_fg_color);
    padding: 1em;
}

.released table tbody tr:nth-child(even) {
    background: transparent;
}

/* Released End */
